In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
import pandas as pd
import seaborn as sns
import numpy as np#import basic library
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings("ignore")

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_squared_error, mean_absolute_error

import tensorflow as tf
from tensorflow.keras.layers import Dense, Dropout
from tensorflow.keras.models import Sequential

In [3]:
df = pd.read_excel("/content/drive/MyDrive/DataSet/apy-milletstats.xlsx")
df.head()

,Crop,Year,State,Area ('000 Hectares),Production ('000 Tonnes),Yield (Kg per Ha))
0,Finger Millet (Ragi),1966-67,All India,1984.2,1630.6,821.792158
1,Finger Millet (Ragi),1967-68,All India,2291.2,1884.2,822.363827
2,Finger Millet (Ragi),1968-69,All India,2238.2,1648.0,736.305960
3,Finger Millet (Ragi),1969-70,All India,2783.4,2117.2,760.652439
4,Finger Millet (Ragi),1970-71,All India,2472.4,2155.0,871.622715

In [4]:
df.shape

(4796, 6)

In [5]:
df.duplicated().sum()

0

In [6]:
df.dtypes

Crop                         object
Year                         object
State                        object
Area ('000 Hectares)         object
Production ('000 Tonnes)    float64
Yield (Kg per Ha))          float64
dtype: object

In [7]:
df.isnull().sum()/df.shape[0]*100

Crop                         0.000000
Year                         0.000000
State                        0.000000
Area ('000 Hectares)        12.572977
Production ('000 Tonnes)    13.448707
Yield (Kg per Ha))          14.282736
dtype: float64

In [8]:
df["Area ('000 Hectares)"] = df["Area ('000 Hectares)"].replace(".", np.nan, regex=True)

In [9]:
from numpy import nan
df["Area ('000 Hectares)"].replace(np.nan,0.0,inplace=True)

In [10]:
df["Area ('000 Hectares)"].astype('float64')

0       1984.200
1       2291.200
2       2238.200
3       2783.400
4       2472.400
          ...
4791       0.040
4792       0.026
4793       0.040
4794       0.064
4795       0.180
Name: Area ('000 Hectares), Length: 4796, dtype: float64

In [11]:
df.dtypes

Crop                         object
Year                         object
State                        object
Area ('000 Hectares)        float64
Production ('000 Tonnes)    float64
Yield (Kg per Ha))          float64
dtype: object

In [12]:
a=df["Area ('000 Hectares)"].mean()
df["Area ('000 Hectares)"].replace(0.0,a,inplace=True)

In [13]:
b=df["Production ('000 Tonnes)"].mean()
df["Production ('000 Tonnes)"].fillna(a,inplace=True)

In [14]:
b=df["Yield (Kg per Ha))"].mean()
df["Yield (Kg per Ha))"].fillna(a,inplace=True)

In [15]:
df.isnull().sum()/df.shape[0]*100

Crop                        0.0
Year                        0.0
State                       0.0
Area ('000 Hectares)        0.0
Production ('000 Tonnes)    0.0
Yield (Kg per Ha))          0.0
dtype: float64

In [16]:
#separate object type columns and numeric type column and hold on new dataframe
df_cat=df.select_dtypes(object)
df_cat.dtypes

Crop     object
Year     object
State    object
dtype: object

In [17]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
for col in df_cat:
  df_cat[col]=le.fit_transform(df_cat[col])

In [18]:
df_num=df.select_dtypes(['int64','float64'])
df_num.dtypes

Area ('000 Hectares)        float64
Production ('000 Tonnes)    float64
Yield (Kg per Ha))          float64
dtype: object

In [19]:
df_new=pd.concat([df_num,df_cat],axis=1)
df_new.head()

,Area ('000 Hectares),Production ('000 Tonnes),Yield (Kg per Ha)),Crop,Year,State
0,1984.2,1630.6,821.792158,0,0,0
1,2291.2,1884.2,822.363827,0,1,0
2,2238.2,1648.0,736.305960,0,2,0
3,2783.4,2117.2,760.652439,0,3,0
4,2472.4,2155.0,871.622715,0,4,0

In [20]:
x=df_new.drop("Yield (Kg per Ha))",axis=1)
y=df_new["Yield (Kg per Ha))"]

In [21]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.3,random_state=1)

In [22]:
from sklearn.preprocessing import StandardScaler
ss=StandardScaler()
xtrain=ss.fit_transform(xtrain)
xtest=ss.transform(xtest)

In [33]:
from tensorflow.keras.callbacks import EarlyStopping

model=Sequential()

model.add(Dense(256, input_dim=5, activation="relu"))
model.add(Dense(256, activation="relu"))
model.add(Dense(128, activation="relu"))
model.add(Dense(64, activation="relu"))
model.add(Dense(32, activation="relu"))
model.add(Dense(16, activation="relu"))
model.add(Dense(8, activation="relu"))
model.add(Dense(1))

model.compile(optimizer="adam",loss="mse") #complile model
earlystop=EarlyStopping(monitor="val_loss",mode="min",verbose=1,patience=50) #use early stopping

model.fit(xtrain,ytrain,epochs=500,validation_data=(xtest,ytest),callbacks=[earlystop], batch_size=64) #train data

Epoch 1/500
53/53 [==============================] - 4s 34ms/step - loss: 182784180224.0000 - val_loss: 98451824640.0000
Epoch 2/500
53/53 [==============================] - 1s 15ms/step - loss: 182766370816.0000 - val_loss: 98400018432.0000
Epoch 3/500
53/53 [==============================] - 1s 15ms/step - loss: 182470852608.0000 - val_loss: 97951645696.0000
Epoch 4/500
53/53 [==============================] - 0s 9ms/step - loss: 181728690176.0000 - val_loss: 97478082560.0000
Epoch 5/500
53/53 [==============================] - 0s 8ms/step - loss: 180391772160.0000 - val_loss: 97069187072.0000
Epoch 6/500
53/53 [==============================] - 0s 8ms/step - loss: 179183452160.0000 - val_loss: 96220135424.0000
Epoch 7/500
53/53 [==============================] - 0s 8ms/step - loss: 177015209984.0000 - val_loss: 95574269952.0000
Epoch 8/500
53/53 [==============================] - 0s 8ms/step - loss: 174165245952.0000 - val_loss: 93398622208.0000
Epoch 9/500
53/53 [==============================] - 0s 8ms/step - loss: 171591974912.0000 - val_loss: 91701968896.0000
Epoch 10/500
53/53 [==============================] - 0s 8ms/step - loss: 162517663744.0000 - val_loss: 91254120448.0000
Epoch 11/500
53/53 [==============================] - 0s 8ms/step - loss: 155276296192.0000 - val_loss: 97133944832.0000
Epoch 12/500
53/53 [==============================] - 0s 8ms/step - loss: 145413652480.0000 - val_loss: 91511029760.0000
Epoch 13/500
53/53 [==============================] - 0s 8ms/step - loss: 141311836160.0000 - val_loss: 91853004800.0000
Epoch 14/500
53/53 [==============================] - 0s 8ms/step - loss: 140928270336.0000 - val_loss: 86220480512.0000
Epoch 15/500
53/53 [==============================] - 0s 8ms/step - loss: 135447617536.0000 - val_loss: 84996792320.0000
Epoch 16/500
53/53 [==============================] - 0s 8ms/step - loss: 136162377728.0000 - val_loss: 82735620096.0000
Epoch 17/500
53/53 [==============================] - 0s 8ms/step - loss: 124441206784.0000 - val_loss: 81862057984.0000
Epoch 18/500
53/53 [==============================] - 0s 9ms/step - loss: 126204305408.0000 - val_loss: 77263519744.0000
Epoch 19/500
53/53 [==============================] - 0s 8ms/step - loss: 132546150400.0000 - val_loss: 76127346688.0000
Epoch 20/500
53/53 [==============================] - 0s 8ms/step - loss: 120212586496.0000 - val_loss: 72276074496.0000
Epoch 21/500
53/53 [==============================] - 0s 8ms/step - loss: 118716342272.0000 - val_loss: 74800676864.0000
Epoch 22/500
53/53 [==============================] - 0s 8ms/step - loss: 108711337984.0000 - val_loss: 71040434176.0000
Epoch 23/500
53/53 [==============================] - 1s 10ms/step - loss: 114669723648.0000 - val_loss: 72231198720.0000
Epoch 24/500
53/53 [==============================] - 1s 13ms/step - loss: 99284738048.0000 - val_loss: 66661359616.0000
Epoch 25/500
53/53 [==============================] - 1s 13ms/step - loss: 95904563200.0000 - val_loss: 62155096064.0000
Epoch 26/500
53/53 [==============================] - 1s 13ms/step - loss: 87081705472.0000 - val_loss: 59351838720.0000
Epoch 27/500
53/53 [==============================] - 1s 13ms/step - loss: 84538368000.0000 - val_loss: 59846336512.0000
Epoch 28/500
53/53 [==============================] - 1s 13ms/step - loss: 69081530368.0000 - val_loss: 55672811520.0000
Epoch 29/500
53/53 [==============================] - 1s 11ms/step - loss: 61323169792.0000 - val_loss: 55728484352.0000
Epoch 30/500
53/53 [==============================] - 0s 8ms/step - loss: 52410748928.0000 - val_loss: 49282977792.0000
Epoch 31/500
53/53 [==============================] - 0s 8ms/step - loss: 45899223040.0000 - val_loss: 43051458560.0000
Epoch 32/500
53/53 [==============================] - 0s 8ms/step - loss: 33396385792.0000 - val_loss: 37074567168.0000
Epoch 33/500
53/53 [==============================] - 0s 8ms/step - loss: 32272668672.0000 - val_loss: 39475257344.0000
Epoch 34/500
53/53 [==============================] - 0s 8ms/step - loss: 24796956672.0000 - val_loss: 41325342720.0000
Epoch 35/500
53/53 [==============================] - 0s 8ms/step - loss: 23874107392.0000 - val_loss: 42775064576.0000
Epoch 36/500
53/53 [==============================] - 0s 8ms/step - loss: 21040844800.0000 - val_loss: 32135667712.0000
Epoch 37/500
53/53 [==============================] - 0s 8ms/step - loss: 20236032000.0000 - val_loss: 28832604160.0000
Epoch 38/500
53/53 [==============================] - 0s 8ms/step - loss: 18221787136.0000 - val_loss: 35824979968.0000
Epoch 39/500
53/53 [==============================] - 0s 8ms/step - loss: 18487609344.0000 - val_loss: 29063634944.0000
Epoch 40/500
53/53 [==============================] - 0s 8ms/step - loss: 18423187456.0000 - val_loss: 34233737216.0000
Epoch 41/500
53/53 [==============================] - 0s 9ms/step - loss: 20117633024.0000 - val_loss: 31568211968.0000
Epoch 42/500
53/53 [==============================] - 0s 8ms/step - loss: 17076664320.0000 - val_loss: 28898054144.0000
Epoch 43/500
53/53 [==============================] - 0s 8ms/step - loss: 17043170304.0000 - val_loss: 27739410432.0000
Epoch 44/500
53/53 [==============================] - 0s 8ms/step - loss: 14167854080.0000 - val_loss: 47443156992.0000
Epoch 45/500
53/53 [==============================] - 0s 7ms/step - loss: 16539056128.0000 - val_loss: 31582447616.0000
Epoch 46/500
53/53 [==============================] - 0s 8ms/step - loss: 16156157952.0000 - val_loss: 25907480576.0000
Epoch 47/500
53/53 [==============================] - 0s 7ms/step - loss: 16640756736.0000 - val_loss: 33125455872.0000
Epoch 48/500
53/53 [==============================] - 0s 7ms/step - loss: 17268211712.0000 - val_loss: 63328260096.0000
Epoch 49/500
53/53 [==============================] - 0s 8ms/step - loss: 20571498496.0000 - val_loss: 26405740544.0000
Epoch 50/500
53/53 [==============================] - 0s 7ms/step - loss: 18734702592.0000 - val_loss: 23454955520.0000
Epoch 51/500
53/53 [==============================] - 0s 8ms/step - loss: 15004153856.0000 - val_loss: 31065604096.0000
Epoch 52/500
53/53 [==============================] - 0s 8ms/step - loss: 16201150464.0000 - val_loss: 29105991680.0000
Epoch 53/500
53/53 [==============================] - 1s 9ms/step - loss: 14506419200.0000 - val_loss: 27860094976.0000
Epoch 54/500
53/53 [==============================] - 1s 13ms/step - loss: 19362457600.0000 - val_loss: 30217633792.0000
Epoch 55/500
53/53 [==============================] - 1s 12ms/step - loss: 15006757888.0000 - val_loss: 31662538752.0000
Epoch 56/500
53/53 [==============================] - 1s 14ms/step - loss: 15774227456.0000 - val_loss: 30881910784.0000
Epoch 57/500
53/53 [==============================] - 1s 12ms/step - loss: 13715079168.0000 - val_loss: 28366092288.0000
Epoch 58/500
53/53 [==============================] - 1s 12ms/step - loss: 13592254464.0000 - val_loss: 37579186176.0000
Epoch 59/500
53/53 [==============================] - 1s 12ms/step - loss: 14971201536.0000 - val_loss: 29899884544.0000
Epoch 60/500
53/53 [==============================] - 0s 9ms/step - loss: 15525981184.0000 - val_loss: 33019584512.0000
Epoch 61/500
53/53 [==============================] - 0s 8ms/step - loss: 13705893888.0000 - val_loss: 41163948032.0000
Epoch 62/500
53/53 [==============================] - 0s 8ms/step - loss: 23251992576.0000 - val_loss: 21917093888.0000
Epoch 63/500
53/53 [==============================] - 0s 8ms/step - loss: 14015167488.0000 - val_loss: 27188705280.0000
Epoch 64/500
53/53 [==============================] - 0s 8ms/step - loss: 15161989120.0000 - val_loss: 30508253184.0000
Epoch 65/500
53/53 [==============================] - 0s 7ms/step - loss: 18618687488.0000 - val_loss: 28982441984.0000
Epoch 66/500
53/53 [==============================] - 0s 8ms/step - loss: 17018345472.0000 - val_loss: 41639145472.0000
Epoch 67/500
53/53 [==============================] - 0s 9ms/step - loss: 14179490816.0000 - val_loss: 31119691776.0000
Epoch 68/500
53/53 [==============================] - 0s 8ms/step - loss: 14175533056.0000 - val_loss: 26613121024.0000
Epoch 69/500
53/53 [==============================] - 0s 8ms/step - loss: 14682144768.0000 - val_loss: 33504030720.0000
Epoch 70/500
53/53 [==============================] - 0s 7ms/step - loss: 17388623872.0000 - val_loss: 38812266496.0000
Epoch 71/500
53/53 [==============================] - 0s 7ms/step - loss: 16145784832.0000 - val_loss: 24811558912.0000
Epoch 72/500
53/53 [==============================] - 0s 8ms/step - loss: 12608498688.0000 - val_loss: 36498051072.0000
Epoch 73/500
53/53 [==============================] - 0s 8ms/step - loss: 17338318848.0000 - val_loss: 28635944960.0000
Epoch 74/500
53/53 [==============================] - 0s 8ms/step - loss: 13623521280.0000 - val_loss: 25814786048.0000
Epoch 75/500
53/53 [==============================] - 0s 8ms/step - loss: 14212195328.0000 - val_loss: 26255847424.0000
Epoch 76/500
53/53 [==============================] - 0s 8ms/step - loss: 13503977472.0000 - val_loss: 26974138368.0000
Epoch 77/500
53/53 [==============================] - 0s 7ms/step - loss: 12302469120.0000 - val_loss: 29549037568.0000
Epoch 78/500
53/53 [==============================] - 0s 8ms/step - loss: 15065631744.0000 - val_loss: 25731999744.0000
Epoch 79/500
53/53 [==============================] - 0s 7ms/step - loss: 14788854784.0000 - val_loss: 25298683904.0000
Epoch 80/500
53/53 [==============================] - 0s 8ms/step - loss: 13083544576.0000 - val_loss: 31068268544.0000
Epoch 81/500
53/53 [==============================] - 0s 8ms/step - loss: 12298680320.0000 - val_loss: 26417332224.0000
Epoch 82/500
53/53 [==============================] - 0s 8ms/step - loss: 23920689152.0000 - val_loss: 31845855232.0000
Epoch 83/500
53/53 [==============================] - 0s 8ms/step - loss: 20560672768.0000 - val_loss: 40010407936.0000
Epoch 84/500
53/53 [==============================] - 1s 11ms/step - loss: 16547539968.0000 - val_loss: 25963108352.0000
Epoch 85/500
53/53 [==============================] - 1s 11ms/step - loss: 11734082560.0000 - val_loss: 40427548672.0000
Epoch 86/500
53/53 [==============================] - 1s 11ms/step - loss: 15066398720.0000 - val_loss: 25032431616.0000
Epoch 87/500
53/53 [==============================] - 1s 14ms/step - loss: 15378002944.0000 - val_loss: 30263451648.0000
Epoch 88/500
53/53 [==============================] - 1s 13ms/step - loss: 13644655616.0000 - val_loss: 22090055680.0000
Epoch 89/500
53/53 [==============================] - 1s 13ms/step - loss: 13650564096.0000 - val_loss: 24700065792.0000
Epoch 90/500
53/53 [==============================] - 1s 14ms/step - loss: 13662810112.0000 - val_loss: 28516792320.0000
Epoch 91/500
53/53 [==============================] - 0s 9ms/step - loss: 12603737088.0000 - val_loss: 26269999104.0000
Epoch 92/500
53/53 [==============================] - 0s 8ms/step - loss: 11874805760.0000 - val_loss: 25321895936.0000
Epoch 93/500
53/53 [==============================] - 0s 8ms/step - loss: 17499971584.0000 - val_loss: 25779865600.0000
Epoch 94/500
53/53 [==============================] - 0s 8ms/step - loss: 12954211328.0000 - val_loss: 33353314304.0000
Epoch 95/500
53/53 [==============================] - 0s 8ms/step - loss: 13291115520.0000 - val_loss: 22583805952.0000
Epoch 96/500
53/53 [==============================] - 0s 7ms/step - loss: 18013921280.0000 - val_loss: 23670028288.0000
Epoch 97/500
53/53 [==============================] - 0s 7ms/step - loss: 14812306432.0000 - val_loss: 22417364992.0000
Epoch 98/500
53/53 [==============================] - 0s 7ms/step - loss: 12998201344.0000 - val_loss: 23749818368.0000
Epoch 99/500
53/53 [==============================] - 0s 8ms/step - loss: 12324018176.0000 - val_loss: 34435735552.0000
Epoch 100/500
53/53 [==============================] - 0s 8ms/step - loss: 19765090304.0000 - val_loss: 28339394560.0000
Epoch 101/500
53/53 [==============================] - 0s 8ms/step - loss: 12622483456.0000 - val_loss: 23820910592.0000
Epoch 102/500
53/53 [==============================] - 0s 8ms/step - loss: 17300840448.0000 - val_loss: 26584711168.0000
Epoch 103/500
53/53 [==============================] - 0s 8ms/step - loss: 14857126912.0000 - val_loss: 23416811520.0000
Epoch 104/500
53/53 [==============================] - 0s 8ms/step - loss: 13727862784.0000 - val_loss: 27948398592.0000
Epoch 105/500
53/53 [==============================] - 0s 8ms/step - loss: 11876102144.0000 - val_loss: 28366602240.0000
Epoch 106/500
53/53 [==============================] - 0s 8ms/step - loss: 18023673856.0000 - val_loss: 28695085056.0000
Epoch 107/500
53/53 [==============================] - 0s 8ms/step - loss: 15905351680.0000 - val_loss: 23482429440.0000
Epoch 108/500
53/53 [==============================] - 0s 7ms/step - loss: 12854780928.0000 - val_loss: 25827461120.0000
Epoch 109/500
53/53 [==============================] - 0s 7ms/step - loss: 13509160960.0000 - val_loss: 23883931648.0000
Epoch 110/500
53/53 [==============================] - 0s 8ms/step - loss: 13799067648.0000 - val_loss: 28702380032.0000
Epoch 111/500
53/53 [==============================] - 0s 8ms/step - loss: 12254042112.0000 - val_loss: 27699306496.0000
Epoch 112/500
53/53 [==============================] - 0s 8ms/step - loss: 12877694976.0000 - val_loss: 23466192896.0000
Epoch 112: early stopping

In [34]:
from sklearn.metrics import mean_squared_error, r2_score
ypred=model.predict(xtest)
print("MSE",mean_squared_error(ytest,ypred))
print("R2 Score",r2_score(ytest,ypred))

45/45 [==============================] - 0s 2ms/step
MSE 23466190875.52165
R2 Score 0.7612287243244102

In [38]:
from tensorflow.keras.models import load_model
model.save("millets_model")
storemodel=load_model("millets_model")

WARNING:absl:Found untraced functions such as _update_step_xla while saving (showing 1 of 1). These functions will not be directly callable after loading.